.root {
    font-family: var(--font-family);
    color: var(--font-color);
    background-image: url(/img/images/AffectionateDesertedGoa-max-1mb.gif);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-top: 2%;
}

.text {
    font-size: 20px;
    margin-left: 1%;
}

#rules-text {
    margin-top: 10px;
}

.rules{
    color: white;
    list-style: decimal;
}