.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;

}

.text {
    font-size: 20px;
    margin: 2%;
}

#rules-text {
    margin-top: 15px;

}

.rules {
    color: white;
    text-decoration: none;
}

#rules-list {
    margin-top: 1%;
}

#rules-list :hover {
    color: yellow;
    transition: 0.5s;
}

.buttom-init {
    margin-top: 5%;
}

.buttom-link,
.buttom-link :visited,
.buttom-link :hover {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.buttom-link :hover {
    font-size: 25px;
    transition: 0.5s;
    color: yellow;
}